h1 {
  text-align: center;
  font-size: 36px;
}

img {
  width: 100%;
}

form > p {
  text-align: center;
  font-size: 18px;
}

.line-chart {
  margin: 80px 0;
}

.line-chart > p {
  text-align: center;
  font-size: 18px;
}

.introduction {
  margin: 80px 0;
}

.purchase-flow {
  margin: 80px 0;
}

.purchase-flow > p {
  text-align: center;
  font-size: 18px;
}

.error-message {
  color: red;
}

#price-range > p {
  text-align: center;
  font-size: 24px;
}

#price-range > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#price-range > div > p {
  color: red;
  text-align: right;
  margin-bottom: 0;
  font-size: 28px;
}

#price-range > div > p > span {
  color: black;
  margin-left: 10px;
  font-size: 18px;
}

@media screen and (max-width: 479px) {
  /*ウィンドウ幅が最大479pxまでの場合に適用*/
  #price-range {
    padding-top: 15px;
  }

  #price-range > div > p {
    display: flex;
    font-size: x-large;
  }

  .from-to {
    margin: 0px 20px;
  }
}
