.space {
  height: 20px;
}
.header-center {
  text-align: center;
  font-size: 20px;
}

.btn-gradient-radius {
  font-weight: 800;
  display: block;
  padding: 7px 20px;
  border-radius: 25px;
  width: 180px;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: #e7640d;
  transition: 0.4s;
  letter-spacing: 0.2rem;
}

.btn-gradient-radius:hover {
  color: #fff;
  background-color: #df905b;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}
